<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="~/Home/Index">MovieSite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Movies</a>
                <div class="dropdown-menu">
                    <a class="nav-link" href="/Movies/Index">Popular</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link" href="/Movies/TopRated">Top Rated</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link" href="/Movies/NowPlaying">Now Playing</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link" href="/Movies/UpComing">Upcoming</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">TV Shows</a>
                <div class="dropdown-menu">
                    <a class="nav-link" href="/TVShows/Index">Popular</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link" href="/TVShows/TopRated">Top Rated</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link" href="/TVShows/AiringToday">Airing Today</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link" href="/TVShows/OnTV">On TV</a>
                </div>
            </li>
            <li class="nav-item dropdown" style="min-width: 11rem">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter</a>
                <div class="dropdown-menu">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="show">
                        <label class="form-check-label" for="inlineCheckbox1">Show</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="movie">
                        <label class="form-check-label" for="inlineCheckbox2">Movie</label>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Show</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Movie</label>
                    </div>

                </div>
            </li>
        </ul>
        <form class="d-flex">
        @using (Html.BeginForm("Search", "Home"))
        {
            @Html.TextBox("query", null, new { Class = "form-control me-sm-2", placeHolder = "Search" }) 
        }
@*            <div class="btn btn-secondary my-2 my-sm-0" role="button" onclick="@(System.Diagnostics.Debug.WriteLine("hello"))">Search</div>
*@@*                <button class="btn btn-secondary my-2 my-sm-0" type="button" onclick="location.href'@Url.Action("Search", "Home")'">Search</button>
*@        </form>
    </div>
  </div>
</nav>
    <div class="container body-content pt-4">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

